{% extends 'base.html' %}

{% block title %}
Create - Scrumptious Recipies
{% endblock title %}
    
{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
    </nav>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</main>
{% endblock content %}
    


    