{% extends 'base.html' %}

{% block title %}
{{ recipe_object.title }}- Edit
{% endblock title %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <h1 class="title">Edit this recipe</h1>
        <form method="post">
            {% csrf_token %}
            {{ recipe_form.as_p }}
            <button class="button is-primary">Save</button>
        </form>
    </main>
{% endblock content %}
    