{% extends 'base.html' %}

{% block title %}
Scrumptious Recipes
{% endblock title %}

    
{% block content %}
    
<header>
    <nav>
        {% if user.is_authenticated %}
            Hello, {{user.username}}
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
            <a href="{% url 'user_logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign up now!</a>
            or
            <a href="{% url 'user_login' %}">Login</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="recipe-grid">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                <p>{{ recipe.created_on|date:"n/j/Y  fA" }}</p>
            </h3>
        <img src="{{ recipe.picture }}">
        <div>4.3 stars</div>
        {% if recipe.author == None %}
        <div>Author: <b>Anonymous</b></div>
        {% else %}
        <div>Author: <b>{{ recipe.author }}</b></div>
        {% endif %}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
  