/* body, h1, h2, h3, h4, h5, h6, p, div, ul, ol, li {
    margin: 0;
    padding: 0;
}


main {
    padding: 16px;
}


footer {
    padding: 24px 0; 
}

img {
    height: 200px;
}


nav {
    border-bottom: 1px solid black; 
    padding: 16px; 
} */

body {
    margin: 0;
    padding: 0;
}


main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
}